* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#3F3F3F, #C83E4D);
    background-color: hsl(200, 54%, 12%);
    color: hsl(0, 0%, 90%);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

body::after,
body::before {
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before {
    background-color: rgb(255, 136, 0);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}

body::after {
    /*background-color: (--violet);*/
    right: 0;
    top: 0;
    transform: translate(50%);
}

@media(max-width: 575px) {

    body::after,
    body::before {
        height: 250px;
        width: 250px;
        filter: blur(100px);
    }

    .form-content .box {
        padding: 30px;
    }

    .encabezado {
        font-size: 24px;
        color: yellow;
    }

}
/********************** Estilo constate para registro, login y contanto ********************/


a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.info{
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 100%;
    
}

.form-main {
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 450px;
    min-width: 320px;
    position: relative;
    z-index: 1;
    
}

.form-content h4 {
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
}

.form-content form {
    margin: 25px 0 20px;
}

.form-content .input-box {
    margin-bottom: 10px;
}

.form-content input {
    display: block;
    height: 30px;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
    color: silver;

}

.form-content input:focus {
    outline: none
}

.form-content .btn {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: #3F3F3F;    
    border: none;
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 20px;
}

.form-content .btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;

}

.form-content .btn:hover::before {
    background-color: gray;
}

.form-content p {
    text-align: center;
}

.parrafo {
    color: yellow;
}

.form-content .warning {
    color: red;
}


.form-content .box {
    border-color: hsl(168, 12%, 76%);
    border: 1px solid hsl(168, 12%, 76%);
    padding: 40px 50px;
    border-radius: 20px;
}

/* ********************** Inico style del registro  ***************************/
.labelR {
    display: block;
    width: auto;
    /* border: 2px solid red;*/
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;

}

.labelR input {
    display: block;
    width: 100%;

    background: transparent;
    outline: none;
}

.labelR span {
    color: rgb(201, 211, 204);
    position: absolute;
    top: 8px;
    left: 10px;
}

.labelR span.top {
    left: 2px;
    top: -10px;
    font-size: 12px;
    /*background: hsl(168, 12%, 76%);*/
    padding: 0 5px;
}

/* ********************** Fin style del registro ***************************/


/*********************** Inicio style del login ***************************/

.labelL {
    display: block;
    width: auto;
    /* border: 2px solid red;*/
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;

}

.labelL input {
    display: block;
    width: 100%;
    background: transparent;
    outline: none;
}

.labelL span {
    color: rgb(201, 211, 204);
    position: absolute;
    top: 8px;
    left: 10px;
}

.labelL span.top {
    left: 2px;
    top: -10px;
    font-size: 12px;
    /*background: hsl(200, 54%, 12%);*/
    padding: 0 5px;
}

/*********************** Fin style del login ***************************/

/*********************** Inicio de contacto ****************************/

.labelC {
    display: block;
    width: auto;
    /* border: 2px solid red;*/
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;

}

.labelC input {
    display: block;
    width: 100%;
    background: transparent;
    outline: none;
}

.labelC span {
    color: rgb(201, 211, 204);
    position: absolute;
    top: 8px;
    left: 10px;
}

.labelC span.top {
    left: 2px;
    top: -10px;
    font-size: 12px;
    /*background: hsl(200, 54%, 12%);*/
    padding: 0 5px;
}

.textarea .labelC {
    color: rgb(201, 211, 204);
}

.textarea #message {
    margin-bottom: 10px;
    padding: 40px 90px;
    display: block;
    width: 100%;
    border-radius: 2%;
}

/******************************** Fin formulario contacto *******************************/